<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.4)), url('<%= asset_path("banner.jpg") %>');">
  <div class="container">
    <h1>Save any kind of movies</h1>
    <p>You can add your own list and bookmarks</p>
  </div>
</div>
